<%# Hier steht entweder "Bedingungen erfüllt" oder "Bedingungen nicht erfüllt". %>
<p><%= @status %></p>

<%# Hier steht, wie weit der Fortschritt in Bezug auf die CREDITS ist. %>
<p><%= @credit_status %></p>

<%# Hier steht, wie weit der Fortschritt in Bezug auf die MODULE ist.%>
<p><%= @module_status %></p>

<%#
  Der View soll noch erweitert werden um eine List von Modulen, die noch
  zur Erfüllung der Bedingung beitragen können.
%>