<div class='modul-info'>
  <h1><%= @module.name %></h1>
  <p class='description'><%= @module.description %></p>
  <p class='short'>Kurzbezeichnung: <%= @module.short %></p>
  <p class='credits'>Credits: <%= @module.credits %></p>
</div>