<h2>&Uuml;berblick:</h2>

<ul class="ueberblick">

  <% @super_rules.each do |s| %>
    <%= "<li>#{build_html_rules_recursive s, 5, 5, @errors}</li>" %>
  <% end %>

  <li style='height: 35px;'>&nbsp;</li>

  <% unless @focus_rules == nil %>
    <%= "<li>#{build_html_rules_recursive @focus_rules, 5, 5}</li>" %>
  <% end %>

</ul>


<% if @errors.length > 0 %>

<p><strong>Die Voraussetzungen für folgende Module sind nicht erfüllt:</strong></p>

  <ul class="voraussetzungen">
    <% @errors.each do |element| %>
      <li>
        <%= "#{element.moduledata.name} (#{element.semester.count}. Semester)" %>
      </li>
    <% end %>
  </ul>

<% end %>