

/*---- Farbe bei Over auf einem Semester------------*/
.drophover{
	background-color: yellow;
	
}


.auswahl_modul {

        background-color : #D4EEF9;
		margin-bottom    : 5px;
		border           : 1px blue solid;
		cursor			 : move;
		/*min-height:24px;*/
}

.auswahl_modul td {
	padding:0px;
	margin:0px;
	border:0px;
	border-spacing:0px;
}


.auswahlmodul li {
	float:left;
	
}

.auswahlmodul li.credits {
	float:right;
	
}
.semester {
	
	margin-bottom : 5px;
	border: 2px #DEB887 solid;
	width:100%;
	background-color:#FFF68F;
	padding: 10px;
/*	padding-left: 25px;
	padding-right:25px;
	padding-bottom:25px; */
	margin-bottom: 5px;
	
}
/*------der erste DIV in semester-BOX--------------- */
.semesterloeschen {
	width  :60px;
	border : 2px red solid;
	margin-bottom : 10px;
}



/*--------Modul löschen*/
.modulloeschen {
	
	cursor:pointer;
	
}

/*   Ajax warte.......*/  
.quick-alert {
   
         width: 80%;
   
         margin: 1em 0;
   
         padding: .5em;
   
         background: #ffa;
   
         border: 1px solid #a00;
   
         color: #a00;
   
         font-weight: bold;
   
         display: block;
  
 }




