body, table {
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	/*line-height: 16px;*/
}

h1{
	font-size: 18px;
	font-weight: bold;
	margin: 5px;
	/*float:left;*/
}

h2{
	font-size: 15px;
	font-weight: bold;
	margin: 5px;
}

/*a:link {	
	color:blue;
	text-decoration:underline; 
}*/

a:visited {
	
	color:blue;
	 text-decoration:underline; 
}

#container{
	background-color:white;
	height:3000px;
	
}

#header{
	
	background-color:blue;
	height: 105px;
	border: 1px black solid;
}

#subnavi{
	background-color: #F4F4FF;
	/*height: 50px;*/
	border-bottom: 1px #3b809d solid;
	padding: 0.5em;
	/*margin-left: 1em;
		margin-right: 1em;
		margin-bottom: 1em;*/
}

#subnavi p{
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

/*#subnavi-ul{
	padding:0px;
	margin:0px;	
}*/

/*#subnavi-ul li{
	height:30px;
	width:10%;
	list-style-type:none;
	border: 3px black double;
	text-align:center;
	font-size:1.2em;
	cursor : pointer;
}*/

#subnavi-ul li {
	list-style-type : none;
	border : 1px #3b809d solid;
	width  : 40%;
	padding: 1em;
	margin : 1em;
	text-align : center;
	cursor : auto;
	background: white;
}

#subnavi-ul a:link, #subnavi-ul a:visited {
	color: black;
	text-decoration: none;
}

#navimoveup {
	padding: 0.3em;
	margin-top: 1em;
}

#navimovedown {
	padding: 0.3em;
	margin-left: 1em;
}

/*#return {
	float:left;
	border: 1px black double;
	
	
	
}
#finish {
	float:right;
	border: 1px black double;
	
	
	
	
}

#help{
	float:right;
	border: 1px black double;
	margin-left:10px;
	
	
}
#reload {
	float:right;
	border: 1px black double;
	margin-left:10px;
	
	
}
*/
#content{
	/*background-color:red;*/
}

#left{
	
	float: left;
	width: 22%; /* das sollte auch bei ID 'ueberblick' eingetragen werden (OS) */
	background-color:white;
	/*border-right:1px black solid;*/
	height:500px;
	
}
#middle{
	
	float: left;
	width:49%;
	background-color:white;
	padding-left: 20px;
	padding-right: 20px;
	/* overflow-y:scroll; */
}

#middle li{
	list-style-type:none;
	background-color: #CCFFCC;
	margin-bottom:3px;
	height: 50px;
	margin-left: 5px;
	margin-right:5px;
	
	
}
.ajaxmodulausgeben{
	width:50%;
	height:50px;
	background-color:red;
	margin-top: 15px;
}



#right{
	
	float: right;
	width:23%;
	/*background-color:gray;*/
	/*border-left-style: solid;*/
	/*height:50000px;*/
	/* padding:2px; */
}

#subright{
	background-color:white;
	padding:2px 20px 2px 20px;
	
	
}

#subright-navi{
	/*border: 1px black solid;*/
	margin: 0px;
	padding: 2px;
	
}


#livesearch{
	border: 1px black solid;
	float:right;
	
	
}

#subright-ul{
	margin:0px;
	
	
}


#subright-ul li {
	float: left;
	border: 1px black solid;
	list-style-type:none;
	margin-right:5px;
	
	
	
}

#subright-content{
		/*border: 1px #DEB887 solid;*/
		border: 1px #DEB887 solid;
		/*background-color:#FFF68F;*/
		background-color:#FFFFAF;
		margin: 3px;
		padding:2px;
		height:100%;
}

#subright-content ul{
	padding-right: 20px;
	
}
#subright-content ul .modul {
	list-style-type:none;
	background-color: #CCFFCC;
	margin-bottom:3px;
	height: 30px;
}
.clear {
	clear:both; 	
	

}


#footer{
	background-color:green;
	border: 1px black solid;
	
}

