body, table {
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: #444;
}

h1{
	font-size: 18px;
	font-weight: bold;
	margin: 5px;
	/*float:left;*/
}

h2{
	font-size: 15px;
	font-weight: bold;
	margin: 5px;
}

/*a:link {	
	color:blue;
	text-decoration:underline; 
}*/

a:visited {	
	color: blue;
	text-decoration: none; 
}

#container{
	background-color: white;
	/*height:3000px;*/
	
}

#header{
	
	background-color:blue;
	height: 105px;
	border: 1px black solid;
}

#subnavi {
	background-color: #F4F4FF;
	/*height: 50px;*/
	border-bottom: 1px #AAA solid;
	padding: 0.5em;
	/*margin-left: 1em;
		margin-right: 1em;
		margin-bottom: 1em;*/
}

#pleasewait {
	background-color: #EAEAEA;
	border-bottom: 1px #AAA solid;
	padding: 0.5em;
	text-align: center;
}

#shadowbar {
	heigth: 7px;
	background: white url("../images/schatten.gif");
	background-repeat: repeat-x;
	background-position: top left;	
}

#subnavi p{
	padding-top: 1em;
	padding-bottom: 0.3em;
}

#subnavi-ul li{
	width: 40%;
	list-style-type: none;
	/* border : 1px #3b809d outset; */
	border : 1px #AAA solid;
	background: white url("../images/Button-Hintergrund-Link.gif");
	background-repeat: repeat;
	background-position: top left;	
	text-align:center;
	text-decoration: none;
	margin-bottom: 0.5em;
	padding: 0.5em;
}

#subnavi-ul a, #subnavi-ul a {
	color: #444;
	text-decoration: none;
}

#subnavi-ul a:hover {
	color: black;
	text-decoration: underline;
}

#navimoveup, #navimovedown, #semesterhinzu, .semesterloeschen, #helpmovedown {
	width: 150px;
	min-height: 18px;
	margin : 4px;
	text-align : center;
	border : 1px #AAA solid;
	background: white url("../images/Button-Hintergrund-Link.gif");
	background-repeat: repeat;
	background-position: top left;
	cursor: pointer;
	padding: 4px;
}

#navimoveup {
	margin-top: 1em;
	clear: both;
}

#navimovedown {
	margin-left: 1em;
}

#helpmovedown {
	width: 250px;
}

#minihelp{
	float: right;
	/* border: 1px #909090 outset;
	background: white; */
	border: 1px #F0F0F0 outset;
	background: #FAFAFD;
	width: 30%;
	padding: 10px;
	margin-right: 10px;
	/* background: white url("../images/Pool-Hintergrund.gif");
	background-repeat: repeat;
	background-position: top left;	*/
}

#content{
/*	background-color:red;*/
}

#left{
	
	float: left;
	width: 23%; /* das sollte auch bei ID 'ueberblick' eingetragen werden (s. auch #middle) (OS) */
	/*border-right:1px black solid;*/
	/*height:500px;*/
}

#middle{
	
	float: left;
	width:49%;
/*	background-color:white;*/
	/*padding-left: 20px;
	padding-right: 20px;*/
    /*margin-left: 24%;*/
	margin-left: 1%;
	/* overflow-y:scroll; */
}

#middle li{
	list-style-type:none;
	background-color: #CCFFCC;
	margin-bottom:3px;
	height: 50px;
	margin-left: 5px;
	margin-right:5px;
	
	
}
.ajaxmodulausgeben{
	width:50%;
	height:50px;
	background-color:red;
	margin-top: 15px;
}



#right{
	
	float: right;
	width:23%;
	/*background-color:gray;*/
	/*border-left-style: solid;*/
	/*height:50000px;*/
	/* padding:2px; */
}

#subright{
/*	background-color:white;*/
	padding:2px 20px 2px 20px;
	
	
}

#subright-navi{
	/*border: 1px black solid;*/
	margin: 0px;
	padding: 2px;
	
}


#livesearch{
	border: 1px black solid;
	float:right;
	
	
}

#subright-ul{
	margin:0px;
	
	
}


#subright-ul li {
	float: left;
	border: 1px black solid;
	list-style-type:none;
	margin-right:5px;
	
	
	
}

#subright-content{
		/*border: 1px #DEB887 solid;*/
/*		border: 1px #DEB887 solid;*/
		/*background-color:#FFF68F;*/
/*		background: #FFFFAF url("../images/Pool-Hintergrund.gif");
		background-repeat: repeat;
		background-position: top left; */
		border: 1px #F0F0F0 solid;
		background: #FAFAFD;
		margin: 3px;
		padding:2px;
		height:100%;
}

#subright-content ul{
	padding-right: 20px;
	
}
#subright-content ul .modul {
	list-style-type:none;
	background-color: #CCFFCC;
	margin-bottom:3px;
	height: 30px;
}
.clear {
	clear:both; 	
	

}

.auswahl_modul,.auswahl_modul_clone, .pool_modul ,.custom_modul, .pool_modul_copy {
		margin-bottom    : 3px;
		padding          : 1px 1px 0px 1px;
		cursor			 : move;
		min-width        : 200px;
		background: #d8eef7 url("../images/Modul-Hintergrund.png");
		background-repeat: no-repeat;
		background-position: top left;
		border: 1px #c8dee7 solid;
}


#footer{
	background-color:green;
	border: 1px black solid;
	
}

/* Formatierung der Ausnahme-Optionen in den Info-Boxen (OS) */
#box_info_pool {
	color: #aaa;
}
#box_info_pool, #box_info_exception {
	border-top: 1px #aaa solid;
	margin-top: 12px;
	padding-top: 6px;
}
