body, table {
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	/*line-height: 16px;*/
}

h2{
	font-size: 15px;
	font-weight: bold;
	padding: 5px;
}

#container{
	background-color:white;
	/*height:3000px;*/
	
}

#header{
	
	background-color:blue;
	height: 105px;
	border: 1px black solid;
}

#subnavi{
	/*background-color:green;*/
	height: 50px;
	border: 1px black solid;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	
}
#subnavi-ul{
	padding:0px;
	margin:0px;
	
	
}

#subnavi-ul li{
	height:30px;
	/*width:180px;*/
	width:10%;
	list-style-type:none;
	border: 3px black double;
	text-align:center;
	font-size:1.2em;
	cursor : pointer;
}


#return {
	float:left;
	border: 1px black double;
	
	
	
}
#finish {
	float:right;
	border: 1px black double;
	
	
	
	
}

#help{
	float:right;
	border: 1px black double;
	margin-left:10px;
	
	
}
#reload {
	float:right;
	border: 1px black double;
	margin-left:10px;
	
	
}

#content{
	/*background-color:red;*/
}

#left{
	
	float: left;
	width:20%;
	background-color:white;
	/*border-right:1px black solid;*/
	height:500px;
	
}
#middle{
	
	float: left;
	width:50%;
	background-color:white;
	padding-left: 20px;
	padding-right: 20px;
	/* overflow-y:scroll; */
}

#middle li{
	list-style-type:none;
	background-color: #CCFFCC;
	margin-bottom:3px;
	height: 50px;
	margin-left: 5px;
	margin-right:5px;
	
	
}
.ajaxmodulausgeben{
	width:50%;
	height:50px;
	background-color:red;
	margin-top: 15px;
}



#right{
	
	float: right;
	width:23%;
	/*background-color:gray;*/
	/*border-left-style: solid;*/
	/*height:50000px;*/
	padding:2px;
}

#subright{
	background-color:white;
	padding:2px 20px 2px 20px;
	
	
}

#subright-navi{
	/*border: 1px black solid;*/
	margin: 0px;
	padding: 2px;
	
}


#livesearch{
	border: 1px black solid;
	float:right;
	
	
}

#subright-ul{
	margin:0px;
	
	
}


#subright-ul li {
	float: left;
	border: 1px black solid;
	list-style-type:none;
	margin-right:5px;
	
	
	
}

#subright-content{
		/*border: 1px #DEB887 solid;*/
		border: 1px #DEB887 solid;
		/*background-color:#FFF68F;*/
		background-color:#FFFFAF;
		padding:2px;
}

#subright-content ul{
	padding-right: 20px;
	
}
#subright-content ul .modul {
	list-style-type:none;
	background-color: #CCFFCC;
	margin-bottom:3px;
	height: 30px;
}
.clear {
	clear:both; 	
	

}


#footer{
	background-color:green;
	border: 1px black solid;
	
}

