.Grundkurse,.Kerncurriculum,.Bachelor,
.Pflichtmodule,.Nanostrukturphysik,.Physikinformatik,.astro, .biophysik, .materialphysik, .teilchenphysik, .einfuehrungen, .spezielle,.Profilierungsbereich,
.schluesselkompetenzen{
        background-color :  #EEE8AA;
		margin-bottom : 2px;
}
.Bachelor-Arbeit{
	margin-left:10px;
}
.Kerncurriculum ,.Pflichtmodule,.Spezialisierung,.Wahlpflichtmodule,.Pflichtmodule,.Grundkurse,.Praktika,.Mathematik,
.Spezialisierungsbereich,.Spezialisierungspraktikum,.einfuehrungen,.spezielle,.Profilierungsbereich{
	
	margin-left:10px;
	cursor     : pointer;
}


.poolmodule {
		border: 1px blue solid;
        background-color:#B2FFFF;
		margin-bottom : 2px;
		padding-left  : 10px;
		cursor        : move;
}


/*-----------Liste------------*/

ul li {
	list-style-type : none;
	
}

a {
	
	cursor : pointer;
}
a:link {
	text-decoration:underline;
}


















 