.pool_modul , .pool_modul_copy {
        background-color : #d8eef7;
		margin-bottom    : 5px;
		border           : 1px #3b809d solid;
		cursor			 : move;
		min-width        : 200px;
}

.pool_category {
		padding: 2px;
		margin-bottom : 2px;
		cursor        : pointer;
}




/*-----------Liste------------*/

/*ul li {
	list-style-type : none;
	
}*/

a {
	
	cursor : pointer;
}
img{border:0;} 

/* CSS für abgedunkelte Background*/
#screenoverlay
{
	background-color: #CCCCFF; /* The color to display*/

	/* The transparency of the background */
	opacity: .75;
	filter: alpha(opacity=75);

	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;

	/* Set the overlay so it appears above the page content */
	z-index: 1000;
}








 