/* Copyright 2009,2010 adiungi GmbH, http://www.adiungi.de
for licensing questions please refer to the README
Created by Christian Beulke, Van Quan Nguyen and Olav Stetter */

#content {
	margin: 0px 20px 20px 0px;
	border : 1px #AAA solid;
	background: #FAFAFD url("../images/Semester-Hintergrund.gif");
	background-repeat: no-repeat;
	background-position: top left;
	padding: 1em;
}

p {
	margin-top: 12px;
}

a {
	color: black;
}

/*ul a {
	color: black;
	display: block;
	cursor: pointer;
}

ul a:link, ul a:visited {
	color: black;
	text-decoration: none;
}

ul li{
	width: 30%;
	min-height: 35px;
	list-style-type:none;
	text-align:center;
	text-decoration: none;
	margin: 0.5em;
	padding: 0.5em;
	float: left;
}*/

.clear {
	clear:both;
}

select {
	margin: 1em;
	
}

input {
	padding: 4px;
	margin: 4px;	
}

#bestaetigen {
	clear: both;
	margin-top : 30px;
}

a {
	text-decoration: none;
}

#bestaetigen .linkbutton, .linkbuttonleft {
	width: 100px;
	min-height: 18px;
	padding: 4px;
	margin: 4px;
	text-align : center;
	float: right;
	color: black;
	border : 1px #AAA solid;
	background: white url("../images/Button-Hintergrund-Link.gif");
	background-repeat: repeat;
	background-position: top left;
	display: block;	
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.linkbuttonleft {
	float: left;
	min-height: 35px;
	width: 30%;
}