

#content {
	
	margin : 7% 15% 7% 15%;
	border : 1px black solid;
	/* background-color :  #dddddd; */
	background-color :  #F0F0F0;
	padding: 1em;
}

ul li{
	width: 30%;
	min-height: 35px;
	list-style-type:none;
	text-align:center;
	text-decoration: none;
	margin: 0.5em;
	padding: 0.5em;
	float: left;
}

#schwerpunkt a, #preufungsordnung a {
	display: block;
	cursor: pointer;
}

ul a:link, ul a:visited {
	color: black;
	text-decoration: none;
}

ul a:hover {
	color: black;
	/*text-decoration: underline;*/
	background-color: #d8eef7;
}

.clear {
	clear:both;
}

select {
	margin: 1em;
	
}


#pruefungsordnung {
	clear: both;
}

.active {
	border : 1px #AAA solid;
	background: #d8eef7 url("../images/Button-Hintergrund-Aktiv.png");
	background-repeat: repeat;
	background-position: top left;		
}
.passive {
	border : 1px #AAA solid;
	background: white url("../images/Button-Hintergrund.png");
	background-repeat: repeat;
	background-position: top left;		
}

#bestaetigen {
	clear: both;
	margin-top : 30px;
}

#bestaetigen .linkbutton {
	width: 100px;
	min-height: 18px;
	margin : 0.3em;
	text-align : center;
	float: right;
	color: black;
	border : 1px #AAA solid;
	background: white url("../images/Button-Hintergrund-Link.gif");
	background-repeat: repeat;
	background-position: top left;		
}

#javascriptdoesnotwork {
	border: 1px #999 solid;
	padding: 5px;
	margin: 5px;
}
