

#content {
	
	margin : 7% 15% 7% 15%;
	border : 1px black solid;
	/* background-color :  #dddddd; */
	background-color :  #F0F0F0;
	padding: 1em;
}

ul li{
	width: 30%;
	min-height: 35px;
	list-style-type:none;
	border : 1px #3b809d solid;
	background: white;
	text-align:center;
	text-decoration: none;
	margin: 0.5em;
	padding: 0.5em;
	float: left;
}

ul a:link, ul a:visited {
	color: black;
	text-decoration: none;
}

ul a:hover {
	color: black;
	text-decoration: underline;
}

.clear {
	clear:both;
}

.schwerpunkt_unten {
	float : left;
	
	
}

select {
	margin: 1em;
	
}

#pruefungsordnung {
	clear: both;
}

#bestaetigen {
	margin-top : 30px;
}

.buttons {
	border : 1px black solid;
	min-width  : 15%;
	margin : 1em;
	padding: 1em;
	text-align : center;
	float: right;
	background-color: #d8eef7;
	cursor: pointer;
	color: black;
}
