/* Copyright 2009,2010 adiungi GmbH, http://www.adiungi.de
for licensing questions please refer to the README
Created by Christian Beulke, Van Quan Nguyen and Olav Stetter */

#content {
	margin: 0px 20px 20px 0px;
	border : 1px #AAA solid;
	background: #FAFAFD url("../images/Semester-Hintergrund.gif");
	background-repeat: no-repeat;
	background-position: top left;
	padding: 1em;
}

p {
	margin-top: 12px;
}

.clear {
	clear:both;
}

#pruefungsordnung, #schwerpunkt {
	padding-top: 10px;
	clear: both;
}

#pruefungsordnung a, #schwerpunkt a {
  margin: 5px;
  width: 25%;
  min-height: 35px;
}

#bestaetigen {
	clear: both;
	margin-top : 30px;
	float: right;
}

#javascriptdoesnotwork {
	padding: 5px;
	margin: 5px;
}

#serverwait {
  float: left;
  padding: 5px;
  margin: 5px;
  display: none;  
}
