/* Copyright 2009,2010 adiungi GmbH, http://www.adiungi.de
for licensing questions please refer to the README
Created by Christian Beulke, Van Quan Nguyen and Olav Stetter */

#ueberblick {
	margin: 3px;
    /* Das Folgende wird dynamisch gesetzt, wenn man das Navigationsmenue ausblendet,
	   siehe global_javascript.js (OS)
	position: fixed;
    width: 100%; */
}

.grade {
    margin: 10px;
}

#ueberblick_baum ul {
	width: 100%;
	list-style: none;
	padding: 0px;
	margin: 0px;
	border-left: 1px #F7F7F7 dotted;	
}

#ueberblick_baum ul:hover table td {
  color: #aaa;
}

#ueberblick_baum li:hover {
  font-weight: bold;
  /*border-left: 5px #DDD solid;
    border-radius: 5px;*/
	/* Darauf achten, dass dieser margin + border das margin von #ueberblick li ergeben (OS) */
	margin-left: 5px;
}

/* Hiermit kann man erkennen, has die Parent-Regeln sind (OS) */
#ueberblick_baum li:hover > div > table > tbody > tr > td {
/*  font-weight: bold;*/
  color: black;
}

#ueberblick_baum > ul {
	border: 0px;
}

#ueberblick li {
	padding: 0px;
	margin-left: 5px;
}

#ueberblick table {
	width: 100%;
}

#ueberblick_baum tr {
	height: 21px;
}

#ueberblick_baum .odd {
	background: #F7F7F7;
}

#ueberblick_baum .even {
/*	border-left: 1px #F7F7F7 solid;*/
}

.ueberblick_image {
  width: 20px;
	padding: 0px;
	position: relative;
	cursor: pointer;
}
.ueberblick_info_box:hover .ueberblick_info_text {
    display: block;
}
.ueberblick_credits {
    width: 60px;
/*    min-width: 60px;*/
    text-align: right;
    font-size: smaller;
}

.ueberblick_category {

    margin-bottom: 0px;
    background-color: #e6e6fa;
    /*cursor        : pointer;*/

}

.ueberblick_rule{

    /*cursor        : pointer;*/
}

/*Note knopf*/
#note_berechnen{
    /*border:1px black solid;*/
    text-align:center;
}


