#ueberblick {
	margin: 4px;
    /* Das Folgende wird dynamisch gesetzt, wenn man das Navigationsmenue ausblendet,
	   siehe global_javascript.js (OS)
	position: fixed;
    width: 100%; */
}

.grade {
    margin: 10px;
}

#ueberblick ul {
	width: 100%;
	list-style: none;
	padding: 0px;
	margin: 0px;
	border-left: 1px #F7F7F7 dotted;
}

#ueberblick_baum > ul {
	border: 0px;
}

#ueberblick li {
	padding: 0px;
	margin-left: 5px;
}

#ueberblick table {
	width: 100%;
}

#ueberblick_baum tr {
	height: 21px;
}

#ueberblick_baum .odd {
	background: #F7F7F7;
}

#ueberblick_baum .even {
/*	border-left: 1px #F7F7F7 solid;*/
}

.ueberblick_image {
  width: 20px;
	padding: 0px;
	position: relative;
	cursor: pointer;
}
.ueberblick_info_box:hover .ueberblick_info_text {
    display: block;
}
.ueberblick_credits {
    width: 60px;
/*    min-width: 60px;*/
    text-align: right;
    font-size: smaller;
}

.ueberblick_category {

    margin-bottom: 0px;
    background-color: #e6e6fa;
    /*cursor        : pointer;*/

}

.ueberblick_rule{

    /*cursor        : pointer;*/
}

/*Note knopf*/
#note_berechnen{
    /*border:1px black solid;*/
    text-align:center;
}


