#ueberblick {
	margin: 4px;
    /* Das Folgende wird dynamisch gesetzt, wenn man das Navigationsmenue ausblendet,
	   siehe global_javascript.js (OS)
	position: fixed;
    width: 100%; */
}

/* #loader {
	float: left;
} */

/*ul.voraussetzungen, .voraussetzungen ul {
    padding-left: 0px;
    margin: 5px;
}*/

.grade {
    margin: 10px;
}

#ueberblick ul {
    width: 100%;
    list-style: none;
	padding: 0px;
	margin: 0px;
/*	border-left: 1px #aaa solid;*/
	background: white url("../images/Ueberblick-Hintergrund.gif");
	background-repeat: repeat-y;
	background-position: top left;
	
}

/*Falls man moechte, dass die Haupt-Kategorien ander hervorgehoben werden (OS)
#ueberblick_baum > ul {
	background-image: none;
	border-left: 1px #6db8d0 solid;
}*/

#ueberblick li {
	padding: 0px;
	margin-left: 7px;	
}

#ueberblick table {
	width: 100%;
}

/*test, raus mit der width-Angabe (OS)
.ueberblick_name {
    min-width: 90%;
    width: 90%;
}*/

.ueberblick_image {
    width: 20px;
/*    min-width: 20px;*/
	padding-left: 2px;
	cursor: pointer;
}
.ueberblick_info_box:hover .ueberblick_info_text {
    display: block;
}
.ueberblick_credits {
    width: 60px;
/*    min-width: 60px;*/
    text-align: right;
    font-size: smaller;
}
/*.ueberblick_info_text {
    border: 1px outset white;
    position: fixed;
    top: 5px;
    left: 5px;
    color: white;
    background-color: green;
    display: none;
}*/

.ueberblick_category {

    margin-bottom: 0px;
    background-color: #e6e6fa;
    /*cursor        : pointer;*/

}

.ueberblick_rule{

    /*cursor        : pointer;*/
}

/*Note knopf*/
#note_berechnen{
    /*border:1px black solid;*/
    text-align:center;
}


