<% unless @categories.length <= 1 %>
  <p>
    Einbringen in:
    <select id="category_category_id" name="category[category_id]">
      <% @categories.each do |category| %>
        <option
          value="<%= category.id %>"
          <%= "selected" if category.id == @selected_cat.id %>
          >
            <%= category.name %>
        </option>
      <% end %>
      <%#*<option value="1612">Einführungen</option>%>
      <%#*<option value="1613">Spezielle Themen</option>%>
    </select>

  <%#= select(:category, :category_id, @categories.collect {|p| [p.name, p.id]}, :selected => @selected_cat) %>
  </p>
<% end %>