<div id="content">
	<h3>Modul-Auswahl exportieren</h3>
	<p>Fertig mit der Modul-Auswahl?</p>
	
	<p>Hier können Sie diese entweder als PDF-Dokument exportieren, um Ihre Auswahl auszudrucken oder für den Studienberater - oder aber im ModulManager-Format, die sie speichern und zu einem späteren Zeitpunkt wieder in den ModulManager laden können.</p>
	
	<ul>
		<!-- <li class='knopf'>Modul-Auswahl drucken</li> -->
		<%= link_to "<li class='knopf'>Modul-Auswahl als PDF speichern</li>", :action => "get_pdf", :format => "pdf" %>
		<%= link_to "<li class='knopf'>Modul-Auswahl im Modulmanager-Format speichern</li>", :action => "get_file" %>
		
	</ul>

  <div id ="bestaetigen">
	<ul>
	    <%= link_to("<li class='linkbutton'>Zurück</li>", :action => "index" ) %>
	</ul>
  </div>
  <div class="clear">&nbsp;</div>

</div>
