<% selection = current_selection %>
<% highlight_color = "white" %>
<ul>
  <% (selection.focus == nil) ? highlight_color = "#d8eef7" : highlight_color = "white" %>
  <li class="schwerpunkt_oben" style="background: <%= highlight_color %>">
    <%= link_to_remote "Kein Schwerpunkt", :update => "schwerpunkt", :url => { :action => "focus_selection", :id => nil } %>
  </li>
  <% @schwerpunkte.each do |s| %>
    <% ((selection.focus != nil) && (selection.focus.name == s.name)) ? highlight_color = "#d8eef7" : highlight_color = "white" %>
    <li class="schwerpunkt_oben" style="background: <%= highlight_color %>;">
      <%= link_to_remote s.name, :update => "schwerpunkt", :url => { :action => "focus_selection", :id => s.id }  %>
    </li>
  <% end %>
</ul>
