<ul>
  <%# i = 0 %>
  <% @schwerpunkte.each do |s| %>
    <% highlight_color = "white" %>
    <% highlight_color = "#d8eef7" if current_selection.focus.name == s.name %>
    <%# i += 1 %>
    <li class="schwerpunkt_oben" style="background: <%= highlight_color %>;">
      <%= link_to_remote s.name, :update => "schwerpunkt", :url => { :action => "focus_selection", :id => s.id }  %>
    </li>
    <%#= "<div class='clear'>&nbsp;</div>" if i % 3 == 0 %>
  <% end %>
</ul>
