<div id="content">
	<h3>Oft gestellte Fragen (FAQ) zum Modulmanager</h3>
	<div>
		(folgt als Reaktion auf die ersten Rückmeldungen)

	    <h4>1. Was ist der ModulManager?</h4>
	    <p>Der ModulManager ist eine Art Baukasten-System, in dem sich Studierende der Physik Modul-Kombinationen zusammenstellen und auf ihr Gültigkeit im Sinne der Prüfungsordnung hin testen können. Das Ergebnis ist dann entweder eine fertige Modul-Kombination, oder eine Vorlage für einen Besuch beim Studienberater.</p>
	
	    <h4>2. Für wen ist der ModulManager gedacht?</h4>
	    <p>Der ModulManager richtet sich an alle Bachelor-Studenten der Physik an der Universität Göttingen. Ob vor oder während dem Studium spielt dabei keine Rolle.</p>

	    <h4>3. Wer hat den ModulManager erstellt?</h4>
		<p>Der ModulManager ist das Ergebnis eines Pilotprojektes der Fakultät Physik der Universität Göttingen in Zusammenarbeit mit der <a href="http://www.adiungi.de" target="_blank">adiungi GmbH</a>.</p>
		
	    <h4>4. Meine Frage ist hier nicht aufgelistet, an wen wende ich mich?</h4>
		<p>Am besten per Mail an abc@123.de</p>

	</div>

  <div id ="bestaetigen">
	<ul>
	    <%= link_to("<li class='linkbutton'>Zurück</li>", :action => "index" ) %>
	</ul>
  </div>
  <div class="clear">&nbsp;</div>

</div>
