<div id="content">
	<img id="unilogo" src="/images/uni-logo.png" alt="Universität">
	<h3>Oft gestellte Fragen (FAQ) zum ModulManager</h3>
	<div>

	    <p><h4>Was ist der ModulManager?</h4>
	    Der ModulManager ist eine Art Baukasten-System, in dem sich Studierende der Physik Modul-Kombinationen zusammenstellen und auf ihr Gültigkeit im Sinne der Prüfungsordnung hin testen können. Das Ergebnis ist dann entweder eine fertige Modul-Kombination, oder eine Vorlage für einen Besuch beim Studienberater.</p>
	
	    <p><h4>Für wen ist der ModulManager gedacht?</h4>
	    Der ModulManager richtet sich an alle Bachelor-Studenten der Physik an der Universität Göttingen. Ob vor oder während dem Studium spielt dabei keine Rolle.</p>

	    <p><h4>Warum finde ich die Veranstaltung X nicht?</h4>
		Im ModulManager sind nur die Module abgelegt, die in Prüfungs- und Studienordnung vorgeschrieben sind. Insbesondere finden sich damit also nur wenige Module, die nicht direkt von der Phyisk angeboten werden.
		In Bereichen, in denen auch andere Module gewählt werden können, kann man die "(Sonstiges Modul)"-Boxen verwenden, die dann zur Eingabe von Titel etc. auffordern.
		<br>Im Allgemeinen ist die Unterscheidung zwischen Modul und Lehrveranstaltung zu beachten, der ModulManager konzentriert sich gänzlich auf Erstere.
		</p>

	    <p><h4>Warum kann ich keine Veranstaltungen Semester-übergreifend eintragen?</h4>
		Modulen haben immer eine eindeutige Zuordnung zu einem Semester. Wieder ist zu beachten, dass der ModulManager nur die Modul-Abhängigkeiten abbildet und den zeitlichen Ablauf der damit verknüpften Lehrveranstaltungen außen vor lässt.
		</p>

	    <p><h4>Warum kann ich meine Auswahl nicht auf dem Server speichern?</h4>
		Aus Datenschutz-Gründen speichern wir keine Nutzerdaten länger als für die Benutzung des ModulManagers erforderlich. Der ModulManager dient als Hilfestellung für Studenten und legt somit - wie die Studienberatung - Wert auf Anonymität.
		</p>
		
	    <p><h4>Meine Frage ist hier nicht aufgelistet, an wen wende ich mich?</h4>
		Am besten per <a href="mailto:olav.stetter@adiungi.com" style="cursor:pointer;text-decoration:underline;">e-Mail an uns</a>. Wir freuen uns über Rückmeldungen und werden versuchen, so schnell wie möglich zu antworten.</p>

	    <p><h4>Wer hat den ModulManager erstellt?</h4>
		Der ModulManager ist das Ergebnis eines Pilotprojektes der Fakultät Physik der Universität Göttingen in Zusammenarbeit mit der <a href="http://www.adiungi.de" target="_blank">adiungi GmbH</a>.
		Dort verantwortlich waren Christian Beulke, Van Quan Nguyen und Olav Stetter.
		Der Quellcode der Plattform wurde unter der LGPL-Lizenz veröffentlicht - die Weiterentwicklung findet (später kommt hier ein Link) über SourceForge statt.</p>

	</div>

  <div id ="bestaetigen">
      <%= link_to "Zurück", {:action => "index"}, :class => "linkbutton" %>
  </div>
  <div class="clear">&nbsp;</div>

</div>
