<div id="content">
	<img id="unilogo" src="/images/uni-logo.png" alt="Universität">
	<h3>Oft gestellte Fragen (FAQ) zum ModulManager</h3>
	<div>

	    <p><h4>Was ist der ModulManager?</h4>
	    Der ModulManager ist eine Art Baukasten-System, in dem sich Studierende der Physik Modul-Kombinationen zusammenstellen und auf ihr Gültigkeit im Sinne der Prüfungsordnung hin testen können. Das Ergebnis ist dann entweder eine fertige Modul-Kombination, oder eine Vorlage für einen Besuch beim Studienberater.</p>
	
	    <p><h4>Für wen ist der ModulManager gedacht?</h4>
	    Der ModulManager richtet sich an alle Bachelor-Studenten der Physik an der Universität Göttingen. Ob vor oder während dem Studium spielt dabei keine Rolle.</p>

	    <p><h4>Wie funktioniert der ModulManager?</h4>
	    Im Wesentlichen dient der ModulManager dazu, gewünschte Module aus den zur Verfügung stehenden auszuwählen und zu einer für Sie günstigsten und im Sinne der Prüfungsordnung gültigen Kombination zusammen zu stellen.
		Ausgangspunkt ist dabei immer die in der jeweiligen Studienordnung vorgeschlagenen Basis-Modul-Konfiguration.
		<br>Eine Auflistung der verwendeten Icons und weitere Erläuterungen finden Sie auf der <%= link_to "Hauptseite", {:action => "index"} %>, wenn Sie auf den "Einführungs"-Knopf ganz oben klicken.
		</p>

	    <p><h4>Warum finde ich die Veranstaltung X nicht?</h4>
		Im ModulManager sind nur die Module abgelegt, die in Prüfungs- und Studienordnung vorgeschrieben sind. Insbesondere finden sich damit also nur wenige Module, die nicht direkt von der Physik angeboten werden.
		In Bereichen, in denen auch andere Module gewählt werden können, kann man die "(Sonstiges Modul)"-Boxen verwenden, die dann zur Eingabe von Titel etc. auffordern.
		<br>Im Allgemeinen ist die Unterscheidung zwischen Modul und Lehrveranstaltung zu beachten, der ModulManager konzentriert sich gänzlich auf Erstere.
		</p>

	    <p><h4>Warum kann ich keine Veranstaltungen Semester-übergreifend eintragen?</h4>
		Modulen haben immer eine eindeutige Zuordnung zu einem Semester. Wieder ist zu beachten, dass der ModulManager nur die Modul-Abhängigkeiten abbildet und den zeitlichen Ablauf der damit verknüpften Lehrveranstaltungen außen vor lässt.
		</p>

	    <p><h4>Wofür sind die erweiterten Optionen von Modulen gut?</h4>
		Die erweiterten Optionen sind für Sonderfälle gedacht, die in der Prüfungsordnung nicht vorgesehen sind.
		<p>Mit der Option "Credit-Zahl" kann die Anzahl der mit dem Modul verbundenen Credits verändert werden. Zum Beispiel könnte man ein bestimmtes Modul an einer anderen Universität gehört haben, es aber mit einer anderen Credit-Zahl angerechnet bekommen als hier üblich.</p>
		<p>"Note streichen" ist laut Prüfungsordnungen in bestimmten Bereichen bis zu einer festgelegten Grenze hin erlaubt. Diese Note wird dann nicht in den Notendurchschnitt mit einberechnet.</p>
		<p>Die Option "Warnungen deaktivieren" dient dazu, die entsprechende Meldung (dargestellt durch ein rotes Blitz-Symbol am Modul) zu deaktivieren, und das Modul so als eingebracht werten zu können.
		Dies kann nützlich sein, wenn beispielsweise zwei Module im gleichen Semester belegt werden, und das eine Modul das andere voraus setzt.
		Dies ist natürlich eigentlich nicht möglich, es sei denn die Prüfungstermine lägen so, dass das Bestehen von des einen Moduls vor der Anmeldung zur Prüfung des anderen erfolgt.
		In diesem Fall kann man einfach die Fehlermeldung deaktivieren und wie gewohnt fortfahren.</p>
		</p>

	    <p><h4>Warum kann ich meine Auswahl nicht auf dem Server speichern?</h4>
		Aus Datenschutz-Gründen speichern wir keine Nutzerdaten länger als für die Benutzung des ModulManagers erforderlich. Der ModulManager dient als Hilfestellung für Studenten und legt somit - wie die Studienberatung - Wert auf Anonymität.<br>
		Allerdings können Sie die Modul-Auswahl unter <%= link_to "Speichern &amp; Drucken", {:action => "index"} %> im ModulManager-Format exportieren und auf Ihrem Computer sichern, um sie zu einem späteren Zeitpunkt wieder zu laden.
		</p>
		
	    <p><h4>Meine Frage ist hier nicht aufgelistet, an wen wende ich mich?</h4>
		Am besten per <a href="mailto:olav.stetter@adiungi.com">e-Mail an uns</a>. Wir freuen uns über Rückmeldungen und werden versuchen, so schnell wie möglich zu antworten.</p>

	    <p><h4>Wer hat den ModulManager erstellt?</h4>
		Der ModulManager ist das Ergebnis eines Pilotprojektes der Fakultät für Physik der Universität Göttingen in Zusammenarbeit mit der <a href="http://www.adiungi.de" target="_blank">adiungi GmbH</a>.
		Dort verantwortlich waren Christian Beulke, Van Quan Nguyen und Olav Stetter.
		Der Quellcode der Plattform wurde unter der <a href="http://www.gnu.org/licenses/agpl.html" target="_blank">GNU-AGPL-Lizenz</a> veröffentlicht - die Weiterentwicklung findet zukünftig über <a href="http://sourceforge.net" target="_blank">SourceForge</a> statt.</p>

	</div>

  <div id ="bestaetigen">
      <%= link_to "Zurück", {:action => "index"}, :class => "linkbutton" %>
  </div>
  <div class="clear">&nbsp;</div>

</div>
