<div id="content">
	<h3>Modul-Auswahl importieren</h3>


               <div id="import">
                 <p>Wenn Sie zuvor eine Datei im ModulManager-Format (Dateiendung .stpl) gespeichert haben, können sie ihre Auswahl hier wieder herstellen:</p>

                 <%= flash[:notice] %>
                 <form action="post_file" method="post" enctype="multipart/form-data">
                   <p><label for="">Bitte Datei zum Upload wählen:</label></p>
                   <p><input type="file" name="data_file" /></p>
                   <p><input type="submit" value="Upload" /></p>
                 </form>
               </div>
	
</div>
