<div id="content">
	<h3>Modul-Auswahl importieren</h3>


       <div id="import">
         <p>In der von Ihnen importierten Datei wurde folgende Prüfungsordnung angewandt:</p>
         <p>
           <strong><%= @version.name %></strong>
         </p>

         <p>
           <% form_tag :action => "index" do  %>
             <%= submit_tag "Weiter" %>
           <% end %>
         </p>

         <!--
         <p>Soll diese auch weiterhin verwendet werden?</p>


         <p>
           <% form_tag :action => "index" do  %>
             <%= submit_tag "Ja" %>
           <% end %>
         </p>

         <p>
           <% form_tag :action => "import3" do %>
             <%= submit_tag "Nein" %>
           <% end %>
         </p>
         -->

       </div>

</div>
