<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title></title>
<meta name="author" content="quan">
<meta name="editor" content="html-editor phase 5">

<%= stylesheet_link_tag 'import' %>

</head>
<body text="#000000" bgcolor="#FFFFFF" link="#FF0000" alink="#FF0000" vlink="#FF0000">

	<div id="content">
		<h5>Modul-Auswahl importieren</h5>
                <form action="post_file" method="post" enctype="multipart/form-data">
                  <p><label for="">Bitte Datei zum Upload wählen:</label></p>
                  <p><input type="file" name="data_file" /></p>
                  <p><input type="submit" value="Upload" /></p>
                </form>
		
	</div>



</body>
</html>