<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>ModulManager - Export</title>
	<%= stylesheet_link_tag 'global' %>
	<%= stylesheet_link_tag 'import' %>
</head>
<body>

	<div id="content">
		<h3>Modul-Auswahl importieren</h3>


                <div id="import">
                  <p>Wenn Sie zuvor eine Datei im ModulManager-Format (Dateiendung .stpl) gespeichert haben, können sie ihre Auswahl hier wieder herstellen:</p>

                  <%# form_remote_tag :update => "import", :method => "post", :multipart => true, :url => { :action => "post_file" } do %>
                    <%#*<p>%>
                      <%#= file_field_tag "data_file" %>
                    <%#*</p>%>
                    <%#*<p>%>
                      <%#= submit_tag "Upload" %>
                    <%#*</p>%>
                  <%# end %>

                  
                  <form action="post_file" method="post" enctype="multipart/form-data">
                    <p><label for="">Bitte Datei zum Upload wählen:</label></p>
                    <p><input type="file" name="data_file" /></p>
                    <p><input type="submit" value="Upload" /></p>
                  </form>
                </div>
		
	</div>



</body>
</html>