<div id="content">
	<p><h3>Impressum</h3>
	<div>
		Verantwortlich für den ModulManager ist die <a href="http://www.adiungi.de" alt="adiungi">adiungi GmbH</a>, Weender Landstraße 6, 37073 Göttingen.<br>
		Sie erreichen uns auch unter der e-Mail-Adresse info(at)adiungi.com</p>

	<p><h3>Datenschutz</h3>
	Daten des Nutzers werden vom ModulManager nur insoweit verarbeitet, als dies zur Durchführung der angebotenen Dienste erforderlich ist. Eine automatische Erhebung personenbezogener Daten oder eine Weiterleitung von Nutzer-Daten an Dritte findet nicht statt.</p>

	<p>Nutzungsbezogene Daten, die während der Nutzung der Webseiten des ModulManagers anfallen, werden regelmäßig gelöscht.</p>

	<p>Verschiedentlich werden auf unseren Internet-Seiten Cookies eingesetzt, um Ihnen gezielt Informationen zur Verfügung stellen zu können. Durch den Einsatz dieser Cookies werden weder persönliche Daten gespeichert noch solche mit Ihren persönlichen Nutzerdaten verbunden. Cookies sind kleine Textdateien, die von unserem Webserver an Ihren PC verschickt und dort meist auf Ihrer Festplatte abgespeichert werden. Sie werden nicht Bestandteil Ihres Systems und können auch keinen Schaden anrichten.</p>

	<p>Die meisten Browser sind so eingestellt, dass sie Cookies automatisch akzeptieren. Sie können das Speichern von Cookies jedoch deaktivieren oder Ihren Browser so einstellen, dass er Sie auf die Sendung eines Cookies hinweist.</p>

	<p>Unsere Webseite enthält auch Links zu Webseiten anderer Anbieter, auf die sich unsere Datenschutzerklärung nicht erstreckt. Wir haben in der Regel keinen Einfluss auf den Inhalt und die Einhaltung der Datenschutzbestimmungen durch diese Anbieter und bitten Sie daher, sich beim Besuch dieser Internetseiten über die dort geltenden Richtlinien zu informieren.</p>
	</div>

  <div id ="bestaetigen">
      <%= link_to "Zurück", {:action => "index"}, :class => "linkbutton" %>
  </div>
  <div class="clear">&nbsp;</div>

</div>
