<h1>Main#index</h1>
<p>Hier soll Quan's Code hin.</p>
<p>Module:</p>
<ul>
  <% @modules.each do |m| %>
  <li>
    <%= "#{m.name} (#{m.credits} Credits)" %>
  </li>
  <% end %>
</ul>
<p>Kategorien:</p>
<ul>
  <% @categories.each do |c| %>
  <li>
    <%= "#{c.name}" %>
  </li>
  <% end %>
</ul>