  <% form_remote_tag :update => "problems", :url => { :action => "save_version"}, :method => "post" do %>

    <p>
      Neue Prüfungsordnung: <%= select_tag :version, options_from_collection_for_select(Version.all, "id", "short", @version) %>
    </p>
    <p>
      <%= submit_tag "Weiter" %>
    </p>

  <% end %>

  <div id="problems">

  </div>
